@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --ibottagray: #292f36;
  --ibottapink: #D52267;
  --ibottagreen: #0A7986;
  --ibottawhite: #F4F5F6;
  --ibottacharcoal: #2A2F35;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    /* --background: #ededed; */
    --background: azure;
    /* --foreground: #ededed; */
    --foreground: #0a0a0a;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}